{{define "metaog"}}
<!-- https://developers.facebook.com/tools/debug/ -->
  <meta property="og:image" content="{{.SiteUrl}}/dhamma-wheel.png" />
<!--
  <meta property="og:title" content="{{gettext "Pāli Tipiṭaka"}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経" />
  <meta property="og:url" content="{{.OgUrl}}" />
  <meta property="og:locale" content="{{.OgLocale}}" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:locale:alternate" content="zh_TW" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:locale:alternate" content="fr_FR" />
-->
{{end}}
