{{define "tmpinfo"}}
<div class="notification is-info is-light mb-0">

Under Construction. Please visit other mirror sites:
<a href="https://epalitipitaka.appspot.com/" target="_blank">appspot</a>,
<a href="http://tipitaka.online-dhamma.net/" target="_blank">online-dhamma</a>

<!--
  <p>
     <strong>Pāli Tipiṭaka Mirrors:</strong>
<ul>
  <li>
     <a href="https://epalitipitaka.appspot.com/" target="_blank">epalitipitaka.appspot.com</a>
  </li>
  <li>
     <a href="http://tipitaka.online-dhamma.net/" target="_blank">tipitaka.online-dhamma.net</a>
  </li>
</ul>
  </p>
-->

</div>
{{end}}
