{{define "about"}}
<article class="message">
  <div class="message-header">
    <p>{{gettext "About This Website"}}</p>
  </div>
  <div class="message-body">
  <p>This site is online <a href="https://en.wikipedia.org/wiki/Pali"
     target="_blank">Pāḷi</a> Dictionary (<em>Pāli to Chinese</em>,
     <em>Pāli to English</em>, <em>Pāli to Japanese</em>,
     <em>Pāli-Vietnamese</em>, <em>Pāli-Burmese</em>).
     The source of the dictionaries come from
     <a href="http://dhamma.sutta.org/pali-course/Pali-Chinese-English%20Dictionary.html"
     target="_blank">Pali Canon E-Dictionary Version 1.94 (PCED)</a>.
     The source code of this website is at
     <a href="https://github.com/siongui/paligo" target="_blank">paligo</a>
     repository on GitHub, and the data of this website is at
     <a href="https://github.com/siongui/data" target="_blank">data</a>
     repository on GitHub. Any suggestion or questions? Welcome to
     <a href="mailto:siongui@gmail.com">contact me</a>.
  </p>
  <p>
     <strong>Pāli Dictionary Mirrors:</strong>
     <a href="https://palidictionary.appspot.com/" target="_blank">1</a>
     <a href="http://dictionary.sutta.org/" target="_blank">2</a>
     <a href="https://dictionary.online-dhamma.net/" target="_blank">3</a>
<!--
     <a href="https://siongui.gitlab.io/pali-dictionary/" target="_blank">GitLab Pages mirror</a>
-->
  </p>
  <p>
     <strong>Pāli Tipiṭaka Mirrors:</strong>
     <a href="https://epalitipitaka.appspot.com/" target="_blank">1</a>
     <a href="http://tipitaka.sutta.org/" target="_blank">2</a>
     <a href="http://tipitaka.online-dhamma.net/" target="_blank">3</a>
  </p>
  </div>
</article>
<article class="message">
  <div class="message-header">
    <p>TODO List</p>
  </div>
  <div class="message-body">
  <p>
    <ul>
      <li>Basic PWA (Progressive Web Apps) support</li>
      <li>OG image / Social media links (Like, Share to Facebook/Twitter, etc.)</li>
      <li>Thai/Burmese script input support</li>
    </ul>
  </p>
  </div>
</article>
{{end}}
