{{define "navbar"}}
<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.SiteUrl}}">
      <span data-default-string="Pāli Dictionary">{{gettext "Pāli Dictionary"}}</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{.TipitakaURL}}" target="_blank">
        <span data-default-string="Canon">{{gettext "Canon"}}</span>
      </a>

      <a class="navbar-item about-link">
        <span data-default-string="About">{{gettext "About"}}</span>
      </a>

      <a class="navbar-item setting-link">
        <span class="is-hidden down-arrow">&#9660;</span><span>&#9658;</span><span data-default-string="Setting">{{gettext "Setting"}}</span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span data-default-string="Language">{{gettext "Language"}}</span>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item lang-select" data-lang="en">
            English
          </a>
          <a class="navbar-item lang-select" data-lang="zh_TW">
            傳統中文
          </a>
          <a class="navbar-item lang-select" data-lang="vi_VN">
            Tiếng Việt
          </a>
          <a class="navbar-item lang-select" data-lang="fr_FR">
            Français
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{{end}}
