{{define "about"}}
<article class="message">
  <div class="message-header">
    <p>{{gettext "About This Website"}}</p>
  </div>
  <div class="message-body">
  <p>This site is online <a href="https://en.wikipedia.org/wiki/Pali"
     target="_blank">Pāḷi</a> Dictionary (<em>Pāli to Chinese</em>,
     <em>Pāli to English</em>, <em>Pāli to Japanese</em>,
     <em>Pāli-Vietnamese</em>, <em>Pāli-Burmese</em>).
     The source of the dictionaries come from
     <a href="http://dhamma.sutta.org/pali-course/Pali-Chinese-English%20Dictionary.html"
     target="_blank">Pali Canon E-Dictionary Version 1.94 (PCED)</a>.
     The source code of this website is at
     <a href="https://github.com/siongui/paligo" target="_blank">paligo</a>
     repository on GitHub, and the data of this website is at
     <a href="https://github.com/siongui/data" target="_blank">data</a>
     repository on GitHub. Any suggestion or questions? Welcome to
     <a href="mailto:siongui@gmail.com">contact me</a>.
  </p>

<p>

<strong>Offline Use of Pāli Dictionary</strong>
<br>
For users who do not have internet connection all the time and want to download
and use Pāli dictionary on local machine/desktop/laptop. Offline copy of Pāli
dictionary is available now.
<ul>
  <li>
     <a href="https://siongui.gitlab.io/pali-dictionary/offline-linux">Offline Pāli Dictionary (Linux)</a>
  </li>
  <li>
     <a href="https://siongui.gitlab.io/pali-dictionary/offline-windows.exe">Offline Pāli Dictionary (Windows)</a>
  </li>
  <li>
     <a href="https://siongui.gitlab.io/pali-dictionary/offline-darwin">Offline Pāli Dictionary (Mac OS X)</a>
  </li>
  <li>
     Offline Copy Last Updated: Jan 24, 2021
  </li>
</ul>
There is only one binary file and the file size is several hundred MB. It may
take a long time to download if the speed of internet connection is slow. After
download finished, run the binary file and then open your browser at URL
<a href="http://localhost:8080/" target="_blank">http://localhost:8080/</a>
You will see Pāli Dictionary running on your local machine. Note that so far the
offline version is not fully working as the online version.

</p>

  <p>
     <strong>Pāli Dictionary Mirrors:</strong>
<ul>
  <li>
     <a href="https://dictionary.sutta.org/" target="_blank">dictionary.sutta.org</a>
  </li>
  <li>
     <a href="https://dictionary.online-dhamma.net/" target="_blank">dictionary.online-dhamma.net</a>
  </li>
<!--
  <li>
     <a href="https://siongui.gitlab.io/pali-dictionary/" target="_blank">siongui.gitlab.io/pali-dictionary</a> (not fully working)
  </li>
-->
</ul>
  </p>
  <p>
     <strong>Pāli Tipiṭaka Mirrors:</strong>
<ul>
  <li>
     <a href="http://tipitaka.sutta.org/" target="_blank">tipitaka.sutta.org</a> (Usable but not complete.)
  </li>
  <li>
     <a href="http://tipitaka.online-dhamma.net/" target="_blank">tipitaka.online-dhamma.net</a> (Old site. To be obsoleted.)
  </li>
</ul>
  </p>
  <p>
     <strong>Source Code Mirror:</strong>
<ul>
  <li>
     <a href="https://gitlab.com/siongui/pali-dictionary" target="_blank">gitlab.com/siongui/pali-dictionary</a>
  </li>
</ul>
  </p>
  </div>
</article>
<article class="message">
  <div class="message-header">
    <p>TODO List</p>
  </div>
  <div class="message-body">
  <p>
    <ul>
      <li>Thai/Burmese script input support</li>
    </ul>
  </p>
  </div>
</article>
{{end}}
