{{define "footer"}}
<footer>

<div class="content is-small">
  <span class="tag is-link is-light">
    <span data-default-string="Share to">{{gettext "Share to"}}</span>
  </span>
  {{template "socialbuttons" .}}
</div>

  <div class="content has-text-right">
    <p>
      Built with
      <a href="https://golang.org/" target="_blank">Go</a>
      /
      <a href="https://github.com/gopherjs/gopherjs" target="_blank">GopherJS</a>
      /
      <a href="https://github.com/" target="_blank">GitHub</a>
      /
      <a href="https://bulma.io/" target="_blank">Bulma</a>
      /
      <a href="https://www.pwabuilder.com/" target="_blank">PWABuilder</a>
<!--
      <a href="https://github.com/gopherjs/gopherjs" target="_blank">
      <img src="https://img.shields.io/badge/Language-Go-blue.svg" alt="Made with Go/GopherJS" width="128" height="24">
      </a>
      <a href="https://bulma.io" target="_blank">
      <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>

      From: https://github.com/Naereen/badges
      <a href="https://forthebadge.com/" target="_blank">
      <img src="https://ForTheBadge.com/images/badges/built-with-love.svg" alt="built with love" width="128" height="24">
      </a>
-->

    </p>
  </div>
</footer>
{{end}}
