{{define "wordpreview"}}
<style>
/* for shrink width of suggest menu */
#word ~ div.suggest-is-absolute {
  position: absolute;
}

/* for suggestion preview */
.suggestedWordPreview {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 10;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: absolute;
  text-align: left;
  font-size: large;
  border-radius: 4px;
  margin-top: 1px;
  line-height: 1.25em;
//  width: 32em;
//  text-align: left;
  /* http://stackoverflow.com/questions/12128465/twitter-bootstrap-break-word-not-work-on-dropdown-menu */
  word-wrap: break-word;
  white-space: normal;
}

.previewWordName {
  color: GoldenRod;
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em;
}

div.shortDicExp:hover {
  font-size: 1.5em;
  line-height: 1em;
  background-color: #F0F8FF;
  border: 1px dotted aqua;
}

div.shortDicExp > span:first-child {
  color: red;
}
</style>
<div class="suggestedWordPreview is-hidden"></div>
{{end}}
