<!doctype html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{gettext "Pāli Tipiṭaka"}}</title>
  <meta name="description" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <meta name="keywords" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{template "metaog" .}}
  <link rel="icon" type="image/png" href="{{.SiteUrl}}/dhamma-wheel.png">
  <link rel="apple-touch-icon" href="{{.SiteUrl}}/dhamma-wheel.png">
  <link rel="stylesheet" href="https://siongui.github.io/tipitaka-romn/cscd/tipitaka-latn.css">
  <style>{{template "bulma" .}}</style>
  {{template "css" .}}
</head>
<body>
{{template "navbar" .}}
{{template "setting" .}}

<div class="is-loading-xml is-hidden notification is-info is-light" style="position: sticky; top: 0; z-index: 5;">Loading XML ...</div>

<div class="is-loading-website notification is-info is-light">Loading Website ...</div>

<section class="section pt-1 is-hidden">
<!-- modal z-index: 40, use 35 for mobile-treeview-toggle -->
<button class="button is-info is-light is-hidden-tablet is-relative mb-1" style="z-index: 35" id="mobile-treeview-toggle"><span class="is-hidden">◀</span><span>▶</span></button>
<div class="container">

<div class="columns">
  <div class="column is-one-third is-one-quarter-desktop is-hidden-mobile" id="treeview">
  </div>
  <div class="column">
    <div class="container" id="mainview">
      <div class="content"></div>
    </div>
    {{template "about" .}}
  </div>
</div>

</div>
{{template "footer" .}}
</section>

{{template "modal" .}}
<span id="site-info" data-siteurl="{{.SiteUrl}}" data-locale="{{.OgLocale}}"></span>
<script src="{{.SiteUrl}}/pali.js"></script>
</body>
</html>
