<!doctype html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{gettext "Pāli Tipiṭaka"}}</title>
  <meta name="description" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <meta name="keywords" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{template "metaog" .}}
  <link rel="icon" type="image/png" href="{{.SiteUrl}}/dhamma-wheel.png">
  <link rel="apple-touch-icon" href="{{.SiteUrl}}/dhamma-wheel.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" integrity="sha256-oSsWW/ca1ll8OVu2t4EKkyb9lmH0Pkd8CXKXnYP4QvA=" crossorigin="anonymous">
  {{template "css" .}}
</head>
<body>
{{template "navbar" .}}
{{template "tmpinfo" .}}
<section class="section">
<div class="container">

<div class="columns">
  <div class="column is-one-third" id="treeview"></div>
  <div class="column">
    <div class="container" id="mainview"></div>
    {{template "about" .}}
  </div>
</div>

</div>
</section>
{{template "footer" .}}
<span id="site-info" data-siteurl="{{.SiteUrl}}" data-locale="{{.OgLocale}}"></span>
<script src="{{.SiteUrl}}/pali.js"></script>
</body>
</html>
