<!doctype html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{gettext "Pāli Dictionary"}}</title>
  <meta name="description" content="{{gettext "Pāli to English, Chinese, Japanese, Vietnamese, Burmese Dictionary"}}"/>
  <meta name="keywords" content="{{gettext "Pāli Dictionary"}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{template "metaog" .}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" integrity="sha256-oSsWW/ca1ll8OVu2t4EKkyb9lmH0Pkd8CXKXnYP4QvA=" crossorigin="anonymous">
  {{template "css" .}}
</head>
<body>
  {{template "navbar" .}}
  {{template "setting" .}}

  <!-- When page fully loaded, hide this -->
  <div id="website-loading" class="notification is-info">{{gettext "Loading"}}...</div>

  <!-- When page fully loaded, show this -->
  <section class="section is-medium py-4 is-hidden">
    <div class="container">

<!--
https://stackoverflow.com/questions/56611772/how-to-shorten-bulma-input
-->
<div class="columns">
  <div class="column is-hidden-mobile">
    <!-- First column -->
  </div>
  <div class="column is-two-thirds">
    <!-- Second column -->



<div class="pali-type-hint-table columns is-centered is-hidden">
  <div class="column is-narrow">
    {{template "ime" .}}
  </div>
</div>

<div id="keypad" class="is-hidden"></div>

<button class="button is-rounded is-info is-light is-small my-1" id="toggle-keypad"><span>Show Keypad</span><span class="is-hidden">Hide Keypad</span></button>
<button class="button is-rounded is-info is-light is-small my-1" id="toggle-type-hint"><span>Show Pāli Type Hint on Top</span><span class="is-hidden">Hide Pāli Type Hint on Top</span></button>

<div class="field">
  <div class="control">
    <input id="word" class="input" type="text"
           autofocus="autofocus" tabindex="1" autocomplete="off"
           placeholder="{{gettext "Input Pāli Word"}}">
  </div>
</div>

<div id="looking-up" class="notification is-info is-hidden"><span data-default-string="Looking Up ...">Looking Up ...</span></div>

<div id="main-content" class="content is-large"></div>

<!--
  Best way of centering a table
  https://github.com/jgthms/bulma/issues/1513
-->
<div class="columns is-centered">
  <div class="column is-narrow">
    {{template "ime" .}}
  </div>
</div>

{{template "browse" .}}

<div class="notification is-primary is-light">
  TODO: insert Google search here
</div>

{{template "footer" .}}

  </div>
  <div class="column is-hidden-mobile">
    <!-- Third column -->
  </div>
</div>


    </div>
  </section>

  <div id="about" class="is-hidden">{{template "about" .}}</div>
  <script src="{{.SiteUrl}}/pali.js"></script>
</body>
</html>
