<!doctype html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{gettext "Pāli Dictionary"}}</title>
  <meta name="description" content="{{gettext "Pāli to English, Chinese, Japanese, Vietnamese, Burmese Dictionary"}}"/>
  <meta name="keywords" content="{{gettext "Pāli Dictionary"}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{template "metaog" .}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" integrity="sha256-oSsWW/ca1ll8OVu2t4EKkyb9lmH0Pkd8CXKXnYP4QvA=" crossorigin="anonymous">
  {{template "css" .}}
</head>
<body>
  {{template "navbar" .}}
  {{template "setting" .}}

  <!-- When page fully loaded, hide this -->
  <div id="website-loading" class="notification is-info">{{gettext "Loading"}}...</div>

  <!-- When page fully loaded, show this -->
  <section class="section is-medium py-4 is-hidden">
    <div class="container">

<!--
https://stackoverflow.com/questions/56611772/how-to-shorten-bulma-input
-->
<div class="columns">
  <div class="column">
    <!-- First column -->
  </div>
  <div class="column">
    <!-- Second column -->
      <div>
      If you want to physical keyboard
      </div>
      {{template "ime" .}}
      If you want to use virtual keyboard
      <div id="keypad"></div>
      <br>
      <div class="field">
        <div class="control">
          <input id="word" class="input" type="text"
                 autofocus="autofocus" tabindex="1" autocomplete="off"
                 placeholder="{{gettext "Input Pāli Word"}}">
        </div>
      </div>
  </div>
  <div class="column">
    <!-- Third column -->
  </div>
</div>

      <div id="looking-up" class="notification is-info is-hidden"><span data-default-string="Looking Up ...">Looking Up ...</span></div>
      <div id="main-content" class="content is-large"></div>

      <hr>
      {{template "browse" .}}
      <hr>
      TODO: insert Google search here
      <hr>

    </div>
  </section>

  {{template "footer" .}}

  <div id="about" class="is-hidden">{{template "about" .}}</div>
  <script src="{{.SiteUrl}}/pali.js"></script>
</body>
</html>
